.venv/
.env/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
dist/
build/
*.egg-info/
coverage/
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.envrc
*.sqlite3
*.db
*.bak
*.swp
data/raw/